* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #231F20;
}

a {
    text-decoration: none;
}

#saiba-mais {
    margin-bottom: 1%;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}


.align-center {
    align-items: center;
}


.fixo {
    position: sticky;
    top: 0;
}

nav figure {
    margin-left: 2%;
}

.navbar {
    margin: 0 3% 0 3%;
    list-style-type: none;
}

.navbar li {
    margin: 0 15% 0 15%;
    font-family: 'Merriweather', serif;
}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
}


.justify-space-between {
    justify-content: space-between;
}

.buttons {
    margin-left: 1%;
    margin-right: 1%;
}

select {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
}

option {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
}



fieldset {
    border: none;
}

h1 {
    margin-top: 1%;
    color: #E1D9D1;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
}

label {
    color: #E1D9D1;
    font-family: 'Roboto', sans-serif;
}

input {
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    width: 50px;
    margin-top: 10px;
}

textarea {
    resize: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.section {
    margin: 2% 0 2% 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #E1D9D1;
}

select {
    font-family: 'Roboto', sans-serif;
}

.button-submit {
    border-radius: 8px;
    width: 200px;
    padding:2%;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    transition: 0.5s;
    background-color: #E1D9D1;
}

.button-submit:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

footer p {
    margin-bottom: 1%;
}

figure a {
    margin-left: 5%;
    margin-right: 5%;
}

figure img {
    cursor: pointer;
}

a {
    color: #CBC3E3;
}

.light-mode {
    background-color: #E1D9D1;
    color:#231F20;
}

.light-mode-a {
    color: purple;
}

.light-mode-buttons {
    background-color:#231F20;
    color:#E1D9D1;
}

.buttonlightdark {
    width: 80px;
    margin-top: 1%;
    padding: 1%;
    border-radius: 8px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color:purple;
    cursor: pointer;
}
